.contacts {
    background-color: var(--white);
    padding: 1rem;
}

.contacts__title,
.contacts__text {
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contacts__title {
    font-size: 18px;
    font-weight: 500;
}

.contacts__text {
    font-weight: 300;
    margin: 1rem 0;
}

.contacts__email {
    padding: 1rem;
    border: 1px solid var(--dark-blue);
    border-radius: 24px;
    width: 90%;
    color: var(--dark-blue);
}

.contacts__email::placeholder {
    color: var(--dark-blue);
    font-family: var(--font);
    background: url("../assets/email.svg") no-repeat;
    padding-left: 2rem;
}

@media screen and (min-width: 1024px) {
    .contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 3rem 7rem;
    }

    .contacts__description {
        width: 40%;
    }

    .contacts__title {
        font-size: 1.5rem;
    }

    .contacts__email {
        width: 50%;
    }
}

@media screen and (min-width: 1728px) {
    .contacts {
        padding: 3rem 28vw;
    }

    .contacts__description {
        width: 60%;
    }

    .contacts__title {
        font-size: 1.5rem;
    }
}